.dropdown {
  position: static !important;
}

.dropdown-menu {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 0px;
  width: 100%;
}

@media (min-width: 992px) {
  .dropdown-toggle {
    pointer-events: none;
  }
  .dropdown-menu {
    display: none;
  }
}

.link-dark {
  margin-left: 10px;
}

.badge {
    font-size: 16px;
    margin: 5px;
}

.btn-group button {
  border-radius: 5px !important;
}

textarea {
  resize: none;
}